body {
    font-family: 'PT Sans', sans-serif;
}

header {
    height: 30px;
    font-size: 24px;
}

a {
    text-decoration: none;
    /* to show background */
    /* background-color: aqua; */
    color: blueviolet;
    /* to display in a block formation */
    /* display: inline-block; */
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.content {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

hr {
    border: 2px solid #63a375;
}

button {
    border: none;
    border-radius: 8px;
    padding: 12px 28px;
    cursor: pointer;
}

.startBtn {
    background-color: #bc2c1a;
    color: #ffffff;
    font-size: 20px;
}

/* hides questions until after the start button is pressed */
.hide {
    display: none;
}

#submit {
    background-color: #7fb7be;
    color: #ffffff;
    font-size: 16px;
    padding: 6px 16px;
}

.choice {
    display: block;
    background-color: #b8d0eb;
    padding: 10px 24px;
    margin: 5px;
    font-size: 16px;
    border: 2px;
}

.winners {
    display: block;
    text-align: left;
}